<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="styles/signstyles.css">
</head>
<body>
    <form action="/signup" class="form" method="POST">
        <header class="sig">Sign Up</header>
        <input type="text" name="username" id="email" placeholder="Username">
        <input type="text" name="password" id="password" placeholder="Password">
        <button type="submit" class="signup">Signup</button>
        <p>Already have an account <a href="/signin">Login Here</a></p>
    </form>
</body>
</html>