<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIn</title>
    <link rel="stylesheet" href="styles/signstyle.css">
</head>
<body>
    <form action="signin" class="form" method="POST">
        <header class="sig">Sign In</header>
        <input type="text" name="username" id="email" placeholder="Username">
        <input type="text" name="password" id="password" placeholder="Password">
        <button value="Login" class="login">Login</button>
        <p>Not registered? Sign up <a href="/signup">Here</a></p>
    </form>
</body>
</html>